<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>dashboard</title>
        <link rel="stylesheet" href="static/css/style.css"/>
        <link rel="stylesheet" href="static/css/jquery-ui.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap">
        <script type="text/javascript" src="static/js/jquery.js"></script>
        <script type="text/javascript" src="static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="static/js/onload.js"></script>
    </head>
    <body>
        <!-- title division -->
        <div id="titleDiv">
            <h1>
                Stock Portfolio Suggestion Engine
            </h1>
        </div>

        <!-- navigator division -->
        <div id="navigatorDiv">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard" style="background-color:#3f6469">DashBoard</a></li>
            </ul>
        </div>

        <!-- content division -->
        <div id="contentDiv">
            <p>dashboard charts...</p>
        </div>

    </body>
</html>